* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.flexCCRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexCCCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unselect .chessInner {
  opacity: 0.5;
}

.hidden {
  display: none;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
}

nav ul {
  background-color: #fefae0;
}

nav ul li {
  margin: 0.5rem 1rem;
}

nav ul li #gameName {
  margin-left: 0.5rem;
}

@media (max-width: 450px) {
  nav ul li #gameName {
    display: none;
  }
}

nav .imgArea {
  width: 2rem;
}

nav button {
  padding: 0.5rem;
  margin: 0 0.5rem;
  background-color: #003049;
  border-radius: 0.5rem;
  color: #fefae0;
}

#masking {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 15;
}

#crossBox {
  position: absolute;
  right: 2rem;
  top: 2rem;
  opacity: 0.5;
}

@media (max-width: 450px) {
  #crossBox {
    right: 0.8rem;
    top: 1.2rem;
  }
}

#crossBox:hover {
  -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

#crossBox .line {
  width: 2rem;
  height: 2px;
  background-color: black;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#crossBox .line::after {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: black;
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#gameIntroduction {
  width: 80vw;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 10vw;
  z-index: 20;
  background-color: #fefae0;
  border: #64302b 1px solid;
  border-radius: 1rem;
  padding: 2rem;
}

#gameIntroduction h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media (max-width: 450px) {
  #gameIntroduction {
    padding: 0.5rem;
  }
  #gameIntroduction h1 {
    font-size: 1.2rem;
  }
}

#gameIntroduction .content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  max-width: 800px;
  line-height: 1.5rem;
}

@media (max-width: 450px) {
  #gameIntroduction .content {
    font-size: 0.8rem;
  }
}

#gameIntroduction .content .imgArea {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gameIntroduction .content .imgArea img {
  background-color: white;
  padding: 0.2rem;
  margin: 0.3rem;
}

#resetBtn button {
  border-radius: 0.5rem;
  background-color: #d62828;
  color: #fefae0;
}

#materialBtn {
  width: 2rem;
  height: 4rem;
  padding: 2px;
  background-color: #fefae0;
  border: #003049 4px solid;
  border-radius: 0.5rem;
  position: absolute;
  top: 5rem;
  right: 2rem;
  opacity: 0.8;
}

@media (max-width: 450px) {
  #materialBtn {
    right: 1rem;
    width: 1.5rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: #003049 2px solid;
  }
}

#materialBtn #color {
  width: 100%;
  height: 50%;
  background-color: #003049;
  opacity: 0.8;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#materialBtn #color.active {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

#materialBtn img {
  position: relative;
  top: 2.5rem;
}

#chessboard {
  margin: 2rem 0;
}

.chessRow {
  height: 4rem;
}

@media (max-width: 450px) {
  .chessRow {
    height: 2rem;
  }
}

.chessBlock {
  width: 4rem;
  height: 4rem;
  background-color: #fefae0;
}

@media (max-width: 450px) {
  .chessBlock {
    height: 2rem;
    width: 2rem;
  }
}

.fixed {
  width: 4rem;
  height: 4rem;
  background-image: url("../materials/img/brick.png");
  background-size: cover;
  padding: 0.5rem;
}

@media (max-width: 450px) {
  .fixed {
    height: 2rem;
    width: 2rem;
  }
}

.exit {
  width: 4rem;
  height: 4rem;
  background-color: #fefae0;
}

@media (max-width: 450px) {
  .exit {
    height: 2rem;
    width: 2rem;
  }
}

#controlBtns button {
  padding: 0.5rem 1rem;
  margin: 0.3rem;
}

#controlBtns button img {
  width: 100%;
  height: 100%;
}

#resetBtn {
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #d62828;
}

#floatingBlock {
  position: absolute;
}

#floatingBlock .chessBlock {
  background-color: transparent;
}

.chessBlock {
  width: 4rem;
  height: 4rem;
  padding: 0.2rem;
}

@media (max-width: 450px) {
  .chessBlock {
    height: 2rem;
    width: 2rem;
    padding: 0.1rem;
  }
}

.chessBlock.block2x1L {
  padding-right: 0;
}

.chessBlock.block2x1R {
  padding-left: 0;
}

.chessBlock.block1x2T {
  padding-bottom: 0;
}

.chessBlock.block1x2B {
  padding-top: 0;
}

.chessBlock.block2x2TL {
  padding-bottom: 0;
  padding-right: 0;
}

.chessBlock.block2x2TR {
  padding-bottom: 0;
  padding-left: 0;
}

.chessBlock.block2x2BL {
  padding-top: 0;
  padding-right: 0;
}

.chessBlock.block2x2BR {
  padding-top: 0;
  padding-left: 0;
}

.chessBlock .chessInner {
  width: 100%;
  height: 100%;
  background-color: #fefae0;
  background-size: cover;
}

.chessBlock .chessInner.block1x1 {
  background-color: #38c23f;
  border-radius: 0.3rem;
}

.chessBlock .chessInner.block2x1L {
  background-color: #d62828;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.chessBlock .chessInner.block2x1R {
  background-color: #d62828;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.chessBlock .chessInner.block1x2T {
  background-color: #f77f00;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.chessBlock .chessInner.block1x2B {
  background-color: #f77f00;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.chessBlock .chessInner.block2x2TL {
  background-color: #003049;
  border-top-left-radius: 0.3rem;
}

.chessBlock .chessInner.block2x2TR {
  background-color: #003049;
  border-top-right-radius: 0.3rem;
}

.chessBlock .chessInner.block2x2BL {
  background-color: #003049;
  border-bottom-left-radius: 0.3rem;
}

.chessBlock .chessInner.block2x2BR {
  background-color: #003049;
  border-bottom-right-radius: 0.3rem;
}

.chessBlock.material .chessInner {
  width: 100%;
  height: 100%;
  background-color: #fefae0;
  background-size: cover;
}

.chessBlock.material .chessInner.block1x1 {
  background-image: url("../materials/img/wood11.png");
  border-radius: 0.3rem;
}

.chessBlock.material .chessInner.block2x1L {
  background-image: url("../materials/img/wood21.png");
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.chessBlock.material .chessInner.block2x1R {
  background-image: url("../materials/img/wood21.png");
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.chessBlock.material .chessInner.block1x2T {
  background-image: url("../materials/img/wood12.png");
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.chessBlock.material .chessInner.block1x2B {
  background-image: url("../materials/img/wood12.png");
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.chessBlock.material .chessInner.block2x2TL {
  background-color: #003049;
  background-image: url("../materials/img/metal22.png");
}

.chessBlock.material .chessInner.block2x2TR {
  background-color: #003049;
  background-image: url("../materials/img/metal22.png");
}

.chessBlock.material .chessInner.block2x2BL {
  background-color: #003049;
  background-image: url("../materials/img/metal22.png");
}

.chessBlock.material .chessInner.block2x2BR {
  background-color: #003049;
  background-image: url("../materials/img/metal22.png");
}
/*# sourceMappingURL=style.css.map */